.header {
  align-items: center;
  border-bottom: 1px solid #4e4f5092;
  box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  min-height: 80px;
  background-color: white;
}
